
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  font: 14px/1 'Roboto';
  color: #000;
  background: #F1F1F1;
}
.navbar{
    width: 100%;
    font-size: 0.8em;
    font-family: 'Press Start 2P', cursive;
    text-align: left;
    color:#538cc6;
    border-bottom:1px solid #cccccc;
    padding: 17px 4%;
    position: fixed;
    background-color: #ffffff;
    box-shadow: 1px 2px 5px #9494b8;
    text-shadow: 1px 3px 2px #a9a9d1;
    z-index:998;
    
}

#alien{
    display:inline-block;
    position:relative;
    width:26px;
    height:16px;
    overflow:hidden;
    
    
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
  font-family:'Press Start 2P';
  color: rgb(83,140,198);
}
h2 {
  padding: 20px 0;
  font-weight: 300;
  text-align: center;
  font-family:Roboto;
  color:#BBB;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

main {
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input {
  display: none;
}
span
{
  color:rgb(83,140,198);
  font-weight:bold;
}
a
{
  text-decoration:none;
}
table
{
  width:100%;
  border:0px;
  border-collapse: collapse;
}
td
{
  vertical-align: center;  
}
th
{
  color:#fff;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
.row-1
{
  text-align:center;
  background-color: rgba(83,140,198,0.7);
  height:25px;
}
.row-2
{
  text-align:center;
  background-color: rgba(83,140,198,0.3);
  height:25px;
}

div.polaroid
{  
  width: 86%; 
  background-color: #f1f1f1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
div.container {
  text-align: center;
  padding: 10px 20px;
}

.button {  
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button:hover span {
  padding-right: 25px;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
  font-family: 'Press Start 2P';
  font-size:12px;
}

label:before {   
  margin-right: 10px;
  vertical-align: center;
}

label[for*='1']:before { content: url(../images/invader1_blue_small.png); }
label[for*='2']:before { content: url(../images/alien1_small.png); }
label[for*='3']:before { content: url(../images/rocket1_small.png);}

label:hover {
  color: rgb(83,140,198);
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid rgb(83,140,198);
  border-bottom: 1px solid #fff;  
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
  table, td, th
  {
    display: block;
  }
  td
  {
    border:none;    
    position:relative;    
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
  table, td, th
  {
    display: block;
  }
  td
  {
    border:none;    
    position:relative;    
  }
}