::-webkit-scrollbar{
        display: none;
}


  .right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
  }
  
  .left {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
  }
  

  canvas{
    image-rendering: optimizeSpeed;             
    image-rendering: -moz-crisp-edges;          
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;            
    image-rendering: pixelated;              
    -ms-interpolation-mode: nearest-neighbor;
}
#my-canvas{
    display:none;
}
#intro-canvas{
    background-color:#608dbb;
}
    
html,body{
    background-color:white;
    height:100%;
    margin:0px;
    min-height:500px;
    min-width:700px;
    
}
body { height: 150%; margin-bottom: 1px; }

.invader2{
    right: 0%;
    display: inline-block;
    position: absolute;
    top: 6%;
    width: 120px;
    height: auto;
    transform:rotate(10deg);
    overflow:hidden;}
.invader3{
    display:none;
}

.navbar{
    width: 100%;
    font-size: 0.8em;
    font-family: 'Press Start 2P', cursive;
    text-align: left;
    color:#538cc6;
    border-bottom:1px solid #cccccc;
    padding: 17px 4%;
    position: fixed;
    background-color: #ffffff;
    box-shadow: 1px 2px 5px #9494b8;
    text-shadow: 1px 3px 2px #a9a9d1;
    z-index:998;
    
}

#alien{
    display:inline-block;
    position:relative;
    width:26px;
    height:16px;
    overflow:hidden;
    
    
}

.container{
    width: 100%;
    padding-top:1%;
    overflow: hidden;
    background-color:#e6e6e6;
    height:120%; margin-bottom: 1px; }
    
   
    
    

.col1{ 
    width:100%;
    height:70%;
    background-color:#e6e6e6;
    min-width:300px;
    
    
}
.col2{
    height:30%;
    float:left;
    width:100%;
    font-size: 0.8em;
    font-family: 'Press Start 2P';
   
}

.invader1{
    display:inline-block;
    position:absolute;
    top: 6%;
    width:120px;
    height:auto;
    overflow:hidden;
    transform: rotate(350deg)

}



.sidebar{
    width: 60%;
    display:block;
    margin:auto;
    min-width:230px;
    margin-top: 150px;
    height:50%;
    position:relative;
    border-bottom: 0px solid #cccccc;
    background-color: #e6e6e6;
    max-width:200px;
    /*box-shadow: 2px 2px 5px #9494b8;*/
    
    
}
.menu{
    background-color:white;
    box-shadow: 1px 2px 5px #9494b8;
}

.title{
    
    width:200px;
    height:200px;
}
#playerIcon{
    width:30%;
    height:auto;
    margin-bottom:-1px;
    margin-left:2px;
    margin-top:2px;
}
.sidebar-links {
    list-style-type: none;
    width:100%;
    padding-left:0px;
    margin-top:-1px;
    margin-bottom:-1px;
    margin-left:0px;
    

}

.sidebar-link {
    font-size: 0.8em;
    font-family: 'Press Start 2P', cursive;
    color: rgb(83, 140, 198);
    background-color:white;
    display: block;
    border: 0px solid #cccccc; 
    padding: 0;
    margin:0px;
    text-decoration: none;
    box-shadow: 1px 2px 5px #9494b8;
    /*text-shadow: 1px 2px 5px #9494b8;*/
    text-shadow: 1px 3px 2px #a9a9d1;
    
}


.sidebar-link:hover {
    background-color: rgb(83, 140, 198);
    color:white;
    text-decoration: none;
    transition: 0.7s;
    margin:0px;
}

#controls,#rules{
    margin-top:7%;
    color:rgb(83, 140, 198);
    background-color:white;
    padding:5%;
    font-size:10px;
    box-shadow: 1px 2px 5px #9494b8;
}
#controls {

    font-family: 'Press Start 2P', cursive;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity:0;
 }
 

 #rules {
    
        font-family: 'Press Start 2P', cursive;
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
        transition: opacity 0.3s;
        opacity:0;

     }

.canvasContainer {
    

    position: relative;
    width: 80%;
    padding-bottom: 5%;
    height: 0;
    z-index:0;
    
}



canvas{
    position:relative;
    margin-top:-180px;
    border: 1px solid #cccccc;
    width: 100%;
    margin-left:12%;
    background-color: white;
}

li{
    list-style-type: none;
    padding: 10px;
  
    color:rgb( 83, 140, 198);
}
li:hover
{
    display:block;
    
	color:#fff;
}
li:before { 
    font-family: "Material Icons"; 
    margin-right:15px;
    font-size:1.5em;
    background-size: 30px 30px;
    display: block;
    
    width: 30px; 
    height: 30px;
    content:"";

 }

 li.rules:before{
    background-image: url('../images/invader1_blue.png'); 
    margin-left:1px;   
}

 li.rules:hover::before{
    background-image: url('../images/invader1_white.png');
    
}

li.controls:before{
    background-image: url("../images/invader2_blue.png");
    background-size: 24px 28px;
    display: inline-block;
    width: 24px; 
    height: 28px;
    margin-left:4px;    
    
}

li.controls:hover::before{
    background-image: url("../images/invader2_white.png"); 

}

li.desc:before{
    background-image: url("../images/invader3_blue.png");
    background-size: 29px 30px;
    display: inline-block;
    width: 29px; 
    height: 30px;
    margin-left:2px;
} 

li.desc:hover::before{
    background-image: url("../images/invader3_white.png");
}


li.highscores:before{
    background-image: url('../images/invader4_blue.png');
    margin-left:2px;
}
li.highscores:hover:before{
    background-image: url('../images/invader4_white.png');
}




  @keyframes hvr-bob {
 
    50% {
      -webkit-transform: translateY(-1px);
      transform: translateY(-1x);
      
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
      
    }
  }
 
  @keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
      
    }
  }
  li.hvr-bob:before {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(0px) translateY(-4px);
    transform: perspective(0px) translateY(-4px);
    box-shadow: 0 0 0px transparent;
  }
  li.hvr-bob:hover::before, li.hvr-bob:focus::before, li.hvr-bob:active::before {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .6s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }

  @media only screen and (min-width: 1000px){

    .canvasContainer{
        margin-left:25px;
    }
    body { height: 100%; margin-bottom: 1px; }
    html{
        overflow-x:hidden;
    }
    #controls,#rules{
        font-size:12px;
    }
    .container{
        height:100%;
    }
    #alien{
        width:30px;
        height:17px;
    }
    .sidebar{
        margin-top:170px;
        height:50%;
    }
    canvas{
        margin-top:170px;
        margin-left:0px;
    }

    .sidebar-link,.fii-invaders,.navbar{
        font-size:0.9em;
    }
    .sidebar{
        min-width:260px;
    }
    .col1{
        float:left;
        width: 30%;
        height:100%;
    }
    .col2{
        width: 69%;
        float:right;
        height:100%;
    }
}
i {
    border: solid #538cc6;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right:3.5px;
  }
@media screen and (min-width: 1500px) {
    html,body{
        overflow:hidden;
    }
   
    
}
.overlay {
  position: fixed;
  top: 50px;
  bottom: 0;
  left:0px;
  width:500px;
  background: rgba(83, 140, 198, 0.8);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin-left: 70px auto;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  /*position: relative;*/
  transition: all 0s ease-in-out;
  /*z-index:999;*/
}

.popup h2 {
  margin-top: 50px;
  color: #fff;
  font-family: 'Press Start 2P';
}
.popup .close {
  position: absolute;
  top: 0px;
  left:0px;
  transition: all 100ms;
  font-size: 30px;
  padding:1000px;
  font-weight: bold;
  text-decoration: none;
  color: rgb( 255,255,255);
}
.popup .close:hover {
  color: #ffffff;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  margin-top:50px;
  text-align:left;
  line-height:30px;
  font-size:14px;
  color: rgb( 255, 255, 255);
  font-family: 'Press Start 2P'
}


@media screen and (max-width: 1500px){
i {
    border: solid #538cc6;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-right:2.5px;
  }
  .sidebar-link {
      margin:0px;
  }
  .overlay{
    width:30%;
    font-size:12px;
}
.popup .content{
    font-size:12px;
}


}

@media screen and (max-width: 600px){
    
    .popup .content{
        font-size:12px;
    }
   
    .invader2{
   
        display:none;
    }
    .invader3{
        right: 0%;
        display: inline-block;
        position: absolute;
        top: 6%;
        margin-left:20%;
        width: 120px;
        height: auto;
        transform:rotate(10deg);
        overflow:hidden;
    }
      
}

@media screen and (max-width: 600px){
    .invader3{
        display:none}
        
 
}
@media screen and (max-width: 1000px){

.overlay{
    width:100%;
    height:100%;
    font-size:12px;
}
}