body{
    background-color:#e6e6e6;
    margin: 0px;
}

.navbar{
    width: 100%;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    text-align: left;
    color:#538cc6;
    border-bottom:1px solid #cccccc;
    padding: 17px 4%;
    position: fixed;
    background-color: #ffffff;
}

.container{
    border-radius: 5px;
    width: 30%;
    height: 100%;
    position:relative;
    background-color: #ffffff;
    display: block;
    margin: auto;
    border:1px solid #cccccc;
}

.aliens{
    position: relative;
    margin: -12% 20% 2%;
    /*border: 1px solid black;*/
    
}

.alien1{
    margin-left: 10%;
    width: 170px;
    height: 170px;
    transform: rotate(330deg);
}

.rocket1{
    position: absolute;
    top: 15%;
    left: 42%;
    width: 170px;
    height: 170px;
}

.rocket2{
    opacity: 0;
    position: absolute;
    top: 15%;
    left: 42%;
    width: 170px;
    height: 170px;
}

.alien2{
    width: 170px;
    height: 170px;
    float: right;
    margin-right: 10%;
    transform: rotate(30deg);
}

.col-1{
    width: 100%;
    height:100%;
    padding-top:15%;
}

@media screen and (max-width: 1600px) {
    .col-1{
        padding-top: 20%;
    }
    .container{
        width: 40%;
    }
    .aliens{
        margin-top: -15%;
    }
    .rocket1{
        left: 40%;
    }

}

@media screen and (max-width: 1200px) {
    .col-1{
        padding-top: 25%;
    }
    .container{
        width: 55%;
    }
    .aliens{
        margin-top: -18%;
        margin-left: 15%;
        margin-right: 15%;
    }
    .alien1{
        width: 155px;
        height: 155px;
        margin-left: 7%;
    }
    .alien2{
        width: 155px;
        height: 155px;
        margin-right: 7%;
    }
    .rocket1{
        margin-left: 10%;
        left:30%;
        top: 13%;
        width: 160px;
        height: auto;
    }
}

@media screen and (max-width: 1000px){
    .rocket1{
        left:28%;
        top: 13%;
        width: 160px;
        height: auto;
    }
}

@media screen and (max-width: 800px) {
    .col-1{
        padding-top: 40%;
    }
    .container{
        width: 85%;
    }
    .aliens{
        margin-top: -30%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .alien1{
        width: 140px;
        height: 140px;
        margin-left: 3%;
    }
    .alien2{
        width: 140px;
        height: 140px;
        margin-right: 3%;
    }
}

@media screen and (max-width: 670px) {
    .rocket1{
            left:25%;
            top: 13%;
            width: 160px;
            height: auto;
        }
}

@media screen and (max-width: 600px) {
    .col-1{
        padding-top: 45%;
    }
    .container{
        width: 95%;
    }
    .aliens{
        margin-top: -30%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .alien1{
        width: 140px;
        height: 140px;
        margin-left: 1%;
    }
    .alien2{
        width: 140px;
        height: 140px;
        margin-right: 1%;
    }
    .guest{
        font-size: 13px;
    }
    .facebook{
        font-size: 11px;
    }
    ::-webkit-scrollbar{
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .rocket1{
            margin-left: 8%;
            left:23%;
            top: 13%;
            width: 160px;
            height: auto;
        }
}

.login{
    position: relative;
    color: #538cc6;
    border-bottom: 1px solid #cccccc;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    padding: 15px 5%;
}

.logins{
    text-align: center;
    position: relative;
    height: 100%;
    width: 87%;
    padding: 5% 3% 20%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    list-style-type: none;
}

.li{
    display: inline-block;
}

.guest{
    border-radius: 3px;
    position: relative;
    text-decoration: none;
    border: 1px solid #cccccc;
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    width: 100%;
    padding: 4%;
    margin: auto;
    background-color: #538cc6;
    transition: 0.5s;
}

.guest:hover{
    border-color: #ffffff;
    background-color: #ffffff;
    color: #538cc6;
    transition: 0.5s;
}

.facebook{
    border-radius: 3px;
    position: relative;
    text-decoration: none;
    border: 1px solid #cccccc;
    padding: 4%;
    width: 100%;
    margin: auto;
    top: 50px;
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    background-color: #538cc6;
    transition: 0.6s;
}

.facebook:hover{
    border-color: #ffffff;
    background-color: #ffffff;
    color: #538cc6;
    transition: 0.6s;
}

.fb2{
    position: relative;
    width: 8%;
    top: 10px;
}
